<div class="example-container">

    <div class = "header">
        Umów wizytę
      </div>

      <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
         -->

         <mat-form-field>          
            <textarea matInput [(ngModel)]="visit.date" placeholder="Data" name="date"></textarea>        
          </mat-form-field>
        
        <mat-form-field>
            <mat-select [(ngModel)]="visit.category" placeholder="Kategoria konsultacji">
              <mat-option *ngFor="let category of categories" [value]="category.name"> 
                Porada {{category.name}}
              </mat-option> 
            </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select [(ngModel)]="visit.specialist" placeholder="Specjalista">
                <mat-option *ngFor="let specialist of specialists" [value]="specialist.firstName"> 
                  {{specialist.degree}} {{specialist.firstName}} {{specialist.lastName}}
                </mat-option> 
              </mat-select>
            </mat-form-field>

        <mat-form-field>          
            <textarea matInput [(ngModel)]="visit.note" placeholder="Uwagi" name="note"></textarea>        
          </mat-form-field>

      <div class="button-row">
          <button mat-raised-button  (click)='createVisit()'>Potwierdź</button>      
      </div>
  
    </div>