<div class="example-container">
    <h1>ZALOGUJ SIĘ</h1>
    <div class="box">
    <div class="username">
      <mat-form-field>
        <input matInput [(ngModel)]="username" placeholder="Nazwa użytkownika" name="username">
      </mat-form-field>
    </div>

    <div class="password">
      <mat-form-field>
          <input matInput type="password" [(ngModel)]="password" placeholder="Hasło" name="password">
        </mat-form-field>
    </div>
        
      <div class="button-row">
          <button mat-raised-button (click)='onSubmit(username, password)'>Zaloguj</button>      
      </div>
    </div>
    </div>