<!-- <div class="example-container">

  <div class="header">
    Zarejestruj specjalistę
  </div>

  <div class="box">
    <div class="left">
      <mat-form-field>
        <input matInput [(ngModel)]="specialist.firstName" placeholder="Imię" name="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="specialist.lastName" placeholder="Nazwisko" name="lastName">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="specialist.phoneNumber" placeholder="Numer kontaktowy" name="phoneNumber">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="specialist.pesel" placeholder="Pesel" name="pesel">
      </mat-form-field> -->

      <!-- <mat-radio-group>
        <mat-radio-button value="1">Kobieta</mat-radio-button>
        <mat-radio-button value="2">Mężczyzna</mat-radio-button>
      </mat-radio-group> -->

      <!-- <mat-form-field>
        <mat-select [(ngModel)]="specialist.degree" placeholder="Stopień naukowy">
          <mat-option value="mgr">mgr</mat-option>
          <mat-option value="drnm">dr n. med.</mat-option>
          <mat-option value="drnf">dr n. farm.</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="specialist.category" placeholder="Kategoria konsultacji">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


      <div class="right">
        <mat-form-field>
          <input matInput [(ngModel)]="specialist.email" placeholder="E-mail" name="email">
        </mat-form-field> -->

        <!-- <mat-form-field>
          <input matInput placeholder="Hasło" required>
      </mat-form-field>    -->
      <!-- </div>
  </div>
    <button mat-raised-button (click)='createSpecialist()'>Załóż konto</button> 
  </div> -->

  <h2 style = "margin-top: 50px; margin-bottom: 40px; text-align: center">ZAREJESTRUJ SIĘ</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="box">
        <div class="left">
            <div class="form-group">
                <label for="firstName">Imię</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Pole wymagane</div>
                    <!-- <div *ngIf="f.firstname.errors.pattern">Nieprawidłowe imię</div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Nazwisko</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Pole wymagane</div>
                    <!-- <div *ngIf="f.lastname.errors.pattern">Nieprawidłowe nazwisko</div> -->
                </div>
            </div>

            <div class="form-group">
                <label for="degree">Stopień naukowy</label>
                <input type="text" formControlName="degree" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" />
                <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                    <div *ngIf="f.degree.errors.required">Pole wymagane</div>          
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Pole wymagane</div>
                    <div *ngIf="f.email.errors.pattern">Nieprawidłowy adres e-mail</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Telefon kontaktowy</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Pole wymagane</div>
                    <div *ngIf="f.phoneNumber.errors.pattern">Nieprawidłowy numer</div>
                </div>
            </div>
            <div class="form-group">
                <label for="pesel">Pesel</label>
                <input type="text" formControlName="pesel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pesel.errors }" />
                <div *ngIf="submitted && f.pesel.errors" class="invalid-feedback">
                    <div *ngIf="f.pesel.errors.required">Pole wymagane</div>
                    <div *ngIf="f.pesel.errors.pattern">Nieprawidłowy pesel</div>
                </div>
            </div>

            <div class="form-group" >
                <label for="selectedCategory">Kategoria</label>
                <select  name="categories" [(ngModel)]="selectedCategory" formControlName="selectedCategory" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.selectedCategory.errors }"  >
                  <option [(ngValue)]="selectedCategory" *ngFor="let category of categories">{{category.name}}</option>
                </select>
            </div>

        </div>

        <div class="right">
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Pole wymagane</div>
                    <div *ngIf="f.username.errors.pattern">Niepoprawna nazwa użytkownika</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Pole wymagane</div>
                    <div *ngIf="f.password.errors.minlength">Hasło musi zawierać min. 6 znaków</div>
                </div>
            </div>
        </div>
    </div>
        <div class="form-group" style = "display: flex; margin-top: 20px; justify-content: center;">
            <button [disabled]="loading" class="btn btn-primary">Załóż konto</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/home']" class="btn btn-link">Anuluj</a>
        </div>

</form>