<h2 mat-dialog-title>Modyfikuj dane kategorii</h2>
<mat-dialog-content>
  <form name="patientForm" ng-controller="ChangePatientDataComponent">
  <mat-form-field [hideRequiredMarker]="false" [floatLabel]="Auto">
   <input matInput [(ngModel)]='loggedUser.username' name='username' placeholder="Nowa nazwa" required>
   <!-- (onSelectionChange)="onSelectionChange(name, description)"> -->
 </mat-form-field>
 <mat-form-field [hideRequiredMarker]="false" [floatLabel]="Auto">
    <input matInput [(ngModel)]='loggedUser.email' name='email' placeholder="Nowy mail" required>
    <!-- (onSelectionChange)="onSelectionChange(name, description)"> -->
  </mat-form-field>
 </form>
 </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)='onCancelClick()'>Anuluj</button>
    <button mat-button (click)='onSaveClick()'>Zapisz</button>
</mat-dialog-actions>
  
